<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<script type="text/javascript" src="/static/js/jquery-3.1.1.min.js" ></script>
		<script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="/static/js/login.js" ></script>
	</head>
	<body style="background-color: black;">
		<div style="position: relative;">
			<img src="/static/img/login.jpg" style="width: 75.7%;margin-left: 12.1%;" />
			<h1 style="position: absolute;top: 18%;left: 46%;">CHANGTIAN</h1>
			<div class="box" style="width: 400px;height: 200px;position: absolute;background: white;top: 30%;left: 40%;">
				<h3 style="text-align: center;margin-bottom: 20px;">XXXX</h3>
				<div class="row" style="margin: 0;margin-bottom: 20px;"><input id="name" style="width:90% ;margin-left: 5%;" placeholder="帐号"/></div>
				<div class="row" style="margin: 0;margin-bottom: 20px;"><input id="password" style="width:90% ;margin-left: 5%;"placeholder="密码	"/></div>
				<div class="row" style="margin: 0;"><button id="login" class="btn btn-primary" style="width: 140px;margin-left: 33%;">登陆</button></div>
			</div>
		</div>
	</body>
</html>
